# 这是一个示例配置文件。
# 请复制此文件为 config.ini，并根据您的实际情况进行修改。
# **请注意，config.ini 不应被提交到版本控制（已在.gitignore中配置）**

[Server]
# 这是您的云服务器地址和端口。
# 请确保格式为 http://<IP地址>:<端口>
# 例如: url = http://123.45.67.89:8080
url = http://127.0.0.1:8080

[Settings]
# 设定坐标时，隐藏窗口后等待的秒数 (毫秒)
# 用于给用户足够时间切换到游戏窗口。
set_pos_delay_ms = 3000